# Ignore venv folder
venv/

# Ignore the .env file containing sensitive information 
.env

# Ignore cache files 
__pycache__/

# Ignore the migrations directory auto created files
backEnd/migrations/versions/
backEnd/migrations/script.py.mako
backEnd/migrations/README

# Ignore JWT RSA private and public keys 
backEnd/private.pem
backEnd/public.pem